.organization-thumbnail img {
  width: 64px;
}

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 20px;
}

.list-group-item-truncate {
  display: inline-block;
  line-height: 1;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-description {
  font-size: 90%;
}

.select2 {
  margin-bottom: 10px;
}

.datasets-count {
  display: inline-block;
}

.add-dataset-btn {
  margin-top: 15px;
}

/* Hidden from guests */
.add-dataset-btn,
.edit-dataset-btn,
.edit-organization-btn,
.admin-link-list-item,
.user-issue {
  display: none;
}

.resource-row {
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.resource-details,
.show-resource-details {
  display: none;
}

.show-resource-details {
  font-size: 80%;
}

.user-issue {
  color: red;
}
