.organization-thumbnail img {
  width: 64px;
}

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 20px;
}

.list-group-item-truncate {
  display: inline-block;
  line-height: 1;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-description {
  font-size: 90%;
}

.datasets-count {
  display: inline-block;
}

.resource-details,
.show-resource-details {
  display: none;
}

.show-resource-details {
  font-size: 80%;
}

.homepage-categories {
  text-align: justify;
}

/* allows last line of categories to be justify aligned */
.homepage-categories:after {
  display: inline-block;
  width: 100%;
  content: '';
}

.homepage-categories .thumbnail {
  display: inline-grid;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px;
}

.homepage-categories .thumbnail img {
  height: 80px;
  margin: auto;
}

.homepage-categories a {
  color: #000;
}

.view-code-link {
  margin: 1em;
}