title: JKAN
description: A lightweight, backend-free open data portal, powered by Jekyll.
baseurl: /jkan
logo: /img/jkan.png

# Authentication
github_client_id: 95187e426b25c012a339
gatekeeper_host: https://jkan-oauth.apps.cloud.gov

# Dataset schema
schema: default

# Categories
category_list:
  - Arts / Culture / History
  - Budget / Finance
  - Economy
  - Education
  - Elections / Politics
  - Environment
  - Food
  - Health / Human Services
  - Parks / Recreation
  - Planning / Zoning
  - Public Safety
  - Real Estate / Land Records
  - Transportation
  - Uncategorized

# Link for the "fork me on github" banner. Remove this line to suppress banner.
fork_me_url: https://github.com/timwis/jkan

# Nav bar
navigation:
  - title: Datasets
    url: /datasets/

# Collections
collections:
  datasets:
    output: true
    permalink: /datasets/:path/
  organizations:
    output: false

# jekyll_get allows for you to get and store a remote json file
jekyll_get:
  - data: jkan-demo-dataset
    json: 'https://demo.jkan.io/datasets.json'
    cache: true
  - data: jkan-demo-data
    json: 'https://demo.jkan.io/data.json'
    cache: true

# Collections (cont'd)
defaults:
  - scope:
      path: ""
      type: datasets
    values:
      layout: dataset
      category: Uncategorized
      organization: N/A

# Markdown settings
markdown: kramdown
kramdown:
  input: GFM

# Google Analytics
google-analytics:
  enabled: false
  code: "UA-XXXXXX-1"

# US Digital Analytics Program - https://analytics.usa.gov
digital-analytics-program:
  enabled: false
  agency: ""
  subagency: ""

# Hypothesis.io - Annotator
hypothesis:
  enabled: true

# Twitter
twittercard:
  enabled: false
  username: "@"

# Open Graph
opengraph:
  enabled: true

# Exclude these files from the build
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
  - .travis.yml
  - node_modules
  - scripts/src
  - package.json
  - webpack.config.js
  - README.md
  - LICENSE
