title: Eesti Avaandmete Portaal
greeting: Eesti Avaandmete Portaal
description: Portaali kaudu on igaühel juurdepääs avaliku sektori juurdepääsupiiranguteta andmetele koos nende taaskasutamise ja edasijagamise õigusega ärilistel ja mitteärilistel eesmärkidel.
footer_title: Eesti Avaandmete Portaal
footer_description: Avaandmete portaali sisustatakse Euroopa Liidu struktuuritoetuse toetusskeemist "Infoühiskonna teadlikkuse tõstmine", mida rahastab Euroopa Regionaalarengu Fond.
baseurl: /jkan
logo: /img/jkan.png

# Site theme
jkan_theme: Default

# Authentication
github_client_id: 0eed203fe7cb7b330d2b
gatekeeper_host: https://jkan-eesti.herokuapp.com

# Dataset schema
schema: default

# Nav bar
navigation:
  - title: Andmehulgad
    url: /data/
  - title: Teabevaldajad
    url: /publishers/
  - title: Blogi
    url: /blogi/
  - title: Rakendused
    url: /apps/


# Collections
collections:
  datasets:
    output: true
    permalink: /data/:path/
  organizations:
    output: true
    permalink: /publishers/:path/
  applications:
    output: true
    permalink: /apps/:path/
  news:
    output: true
    permalink: /blogi/:path/

# Collections (cont'd)
defaults:
  - scope:
      path: ""
      type: datasets
    values:
      layout: dataset
      category: Uncategorized
      organization: N/A
  - scope:
      path: ""
      type: organizations
    values:
      layout: organization
#  - scope:
#      path: ""
#      type: applications
#      values:
#      layout: default
#  - scope:
#      path: ""
#      type: news
#    values:
#      layout: default 

# Markdown settings
markdown: kramdown
kramdown:
  input: GFM

# Google Analytics
google_analytics:
  enabled: false
  code: "UA-XXXXXX-1"

# US Digital Analytics Program - https://analytics.usa.gov
digital_analytics_program:
  enabled: false
  agency: ""
  subagency: ""

# Hypothesis.io - Annotator
hypothesis:
  enabled: false

# Twitter
twittercard:
  enabled: false
  username: "@"

# Open Graph
opengraph:
  enabled: true

# Exclude these files from the build
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
  - .travis.yml
  - node_modules
  - scripts/src
  - package.json
  - webpack.config.js
  - README.md
  - LICENSE
