---
layout: default
title: Add Organization
permalink: /add-organization/
---
{% include breadcrumbs.html parent="Organizations" %}

<div class="alert alert-success" role="alert" data-hook="alert-success" style="display: none;">
  L'organizzazione è stata <a href="#" data-hook="commit-url">creata</a> e la pagina si sta aggiornando.
  Sarà disponibile a qui <a href="#" data-hook="organization-url"></a>
</div>

<div class="alert alert-danger" role="alert" data-hook="alert-error" style="display: none;">
C'è stato un problema nel salvataggio della pagina
</div>

<div class="row" data-hook="edit-view">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Aggiungi Organizzazione</h1>
    {% include organization-form.html %}
  </div>
</div>
