---
layout: default
title: Add Organization
permalink: /add-organization/
---
{% include breadcrumbs.html parent="Organizations" %}

<div class="alert alert-success" role="alert" data-hook="alert-success" style="display: none;">
  This organization has been <a href="#" data-hook="commit-url">created</a> and the page is currently generating.
  It will be available momentarily at <a href="#" data-hook="organization-url"></a>
</div>

<div class="alert alert-danger" role="alert" data-hook="alert-error" style="display: none;">
  There was an error saving this page
</div>

<div class="row" data-hook="edit-view">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Add Organization</h1>
    {% include organization-form.html %}
  </div>
</div>
