---
title: Categories
layout: default
permalink: /categories/
---
{% include breadcrumbs.html %}

<div class="card-grid">
  {% for category in site.dataset_categories %}
    {% assign dataset_count = site.datasets | where:"category", category.name | size %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a class="card border card-grid-item hover-overlay" href="{{ site.baseurl }}/categories/{{ category.name | slugify }}" title="{{ logo_alt }}">
      <div class="d-flex flex-row justify-content-end">
        <span class="badge bg-primary rounded-pill me-1">{{ dataset_count }}</span>
      </div>
      {% if category.logo and category.logo != empty %}
        <img class="card-img-top" src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ category.name }}
    </a>
  {% endfor %}
</div>