---
title: Organizations
layout: default
permalink: /organizations/
---
{% include breadcrumbs.html %}

<div class="card-grid card-grid-organizations">
  {% for organization in site.organizations %}
    {% assign dataset_count = site.datasets | where:"organization", organization.title | size %}
    {% capture logo_alt %}{{ organization.name }}{% if organization.logo_credit and organization.logo_credit != empty %} logo by {{ organization.logo_credit }}{% endif %}{% endcapture %}
    <a class="card card-grid-item border hover-overlay" href="{{ site.baseurl }}{{ organization.url }}" title="{{ organization.title }}">
      <div>
        <span class="badge bg-primary rounded-pill float-end">{{ dataset_count }}</span>
      </div>
      <div class="d-flex flex-row">
        {% if organization.logo and organization.logo != empty %}
          <div>
            <img src="{{ organization.logo | relative_url }}" alt="{{ logo_alt }}" style="width: 64px; height: auto;">
          </div>
        {% endif %}
        <div class="ms-3">
          <h4 style="text-align: start;">{{ organization.title }}</h4>
          <p style="text-align: justify;">{{ organization.description }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
