---
title: Organizations
layout: default
permalink: /organizations/
---
{% include breadcrumbs.html %}

{% for organization in site.organizations %}
  {% assign dataset_count = site.datasets | where:"organization", organization.title | size %}
  <div class="d-flex">
    <div class="flex-shrink-0">
      {% if organization.logo and organization.logo != empty %}
        <a href="{{ site.baseurl }}{{ organization.url }}" class="organization-thumbnail">
          <img src="{{ organization.logo | relative_url }}" alt="{{ organization.title }}">
        </a>
      {% endif %}
    </div>
    <div class="flex-grow-1 ms-3">
      <h4><a href="{{ site.baseurl }}{{ organization.url }}">{{ organization.title }}</a></h4>
      <p style="text-align: justify;">{{ organization.description }}</p>
      <p><a href="{{ site.baseurl }}/datasets/?organization={{ organization.title | slugify }}"><span class="badge bg-primary rounded-pill">{{ dataset_count }}</span> datasets</a></p>
    </div>
  </div>
{% endfor %}
