<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.7.2/jquery.serializejson.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>

<!-- authentication -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
<script src="https://cdn.rawgit.com/michael/github/master/dist/github.bundle.min.js"></script>
<script src="{{ site.baseurl }}/scripts/auth.js"></script>

<!-- page-specific includes -->
{% for script in layout.scripts %}
  <script src="{% unless script contains "http" %}{{ site.baseurl }}{% endunless %}{{ script }}"></script>
{% endfor %}
{% for script in page.scripts %}
  <script src="{% unless script contains "http" %}{{ site.baseurl }}{% endunless %}{{ script }}"></script>
{% endfor %}

<footer></footer>