<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>

<footer style="
    background: #eee;
    padding: 25px 25px 75px 25px;
    color: #888;
    margin-top: 50px;
">
    <div class="container" style="display: flex; align-items: flex-start;">
        <img src="{{ site.baseurl }}/img/esf_logo.svg" width="150" />
        <div style="margin-left: 25px">
            <p style="width: 50%">{{ site.footer_description }}</p>
        </div>
    </div>

</footer>
