<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% if site.digital_analytics_program.enabled == true %}
    <!-- US Digital Analytics Program - see https://analytics.usa.gov for data-->
    <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{ site.digital_analytics_program.agency }}&subagency={{ site.digital_analytics_program.subagency }}"></script>
  {% endif %}

  {% if site.google_analytics.enabled == true %}
    <!-- Google Analytics -->
    {% include addons/google-analytics.html %}
  {% endif %}

  {% if site.hypothesis.enabled == true %}
    <!-- Hypothesis.io -->
    <script async defer src="//hypothes.is/embed.js"></script>
  {% endif %}

  {% if site.opengraph.enabled == true %}
    <!-- Open Graph -->
    {% include addons/opengraph.html %}
  {% endif %}

  {% if site.twittercard.enabled == true %}
    <!-- Twittercard -->
    {% include addons/twittercard.html %}
  {% endif %}

  <script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js');

  var settings = {
    BASE_URL: {{ site.baseurl | jsonify }} || "",
    PAGE_URL: {{ page.url | jsonify }},
    REPO_BRANCH: {% if site.github.is_user_page %}"master"{% else %}"gh-pages"{% endif %},
    REPO_OWNER: {{ site.github.owner_name | jsonify }},
    REPO_NAME: {{ site.github.project_title | jsonify }}
  }
  </script>
</head>
