<nav class="navbar navbar-expand-sm mb-4 navbar-light bg-light" data-component="navigation">
  <div class="container">
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="sr-only">Toggle navigation</span>
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% for link in site.navigation %}
          {% if page.url contains link.url %}
          <li class="nav-item active"><a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }} <span class="sr-only">(current)</span></a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#" data-hook="login-link">Login</a></li>
        <li class="nav-item dropdown d-none" data-hook="user-dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-hook="user-dropdown-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="user-issue" data-hook="user-issue"><i class="fa fa-exclamation-circle"></i></span>
            <span data-hook="user-name">User</span>
            <span class="caret"></span>
          </a>
          </ul>
          <ul class="dropdown-menu">
            <li class="admin-only" data-hook="admin-link-list-item"><a class="dropdown-item" href="{{ site.baseurl }}/admin/">Administration</a></li>
            <li><a class="dropdown-item" href="#" data-hook="logout-link">Logout</a></li>
          </ul>

    </div>

  </div>
</nav>
