{% assign schema = page.schema | default: site.schema %}
{% assign organization_fields = site.data.schemas[schema].organization_fields %}
{% assign organization_system_fields = "title|description|logo" | split: "|" %}
{% assign organizations = site.collections | where: "label", "organizations" | first %}
<form data-component="form"
  data-file-dir="{{ organizations.relative_directory }}"
  data-render-dir="organizations"
  {% if include.organization %}
    data-file-path="{{ include.organization.path }}"
    data-render-path="{{ include.organization.url }}"
  {% endif %}>
  <input type="hidden" id="schema" name="schema" value="{{ schema }}">

  <fieldset>
    {% for field in organization_fields %}
      {% assign template = field.form_template | default: "form/text.html" %}
      {% assign field_name = field.field_name %}
      {% assign value = include.organization[field_name] %}
      {% include {{ template }} field=field field_name=field_name value=value %}
    {% endfor %}
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
  {% if include.organization %}
    <button class="btn btn-danger" data-component="delete-page-button" data-file-path="{{ include.organization.path }}">
      <i class="fa fa-trash"></i> Delete organization
    </button>
  {% endif %}
  <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-outline-secondary float-right">Cancel</a>
</form>
