---
layout: default
---
{% include breadcrumbs.html parent="Organizations" %}

<div class="row">
  <div class="col-sm-3">
    {% if page.logo %}
      <a href="{{ page.logo }}" class="thumbnail"><img src="{{ page.logo }}"></a>
    {% endif %}
    <h3>{{ page.title }}</h3>
    <p>{{ page.description }}</p>
  </div>
  <div class="col-sm-9">
    {% assign datasets = site.datasets | where:"organization",page.title %}
    <h3>{{ datasets.size }} datasets</h3>
    {% include datasets.html datasets=datasets %}
  </div>
</div>
