---
name: CI

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: MegaLinter
        run: ./scripts/lint
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
